.hero {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: url("../images/mobile/image-hero.jpg");
}

.hero-heading {
  border: 2px solid var(--White);
  padding: 1rem;
  margin-block: 10rem;
}
.hero-heading h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--White);
}
