@media (min-width: 55em) {
  /* 
*navbar section
*/
  .nav-list {
    display: flex;
  }

  .burger {
    display: none;
  }
  /* 
*hero section
*/
  .hero-heading {
    max-width: 40rem;
  }
  .hero {
    position: relative;
    background: url("../images/desktop/image-hero.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .hero-heading h1 {
    font-size: 4rem;
  }
  /* 
*our creations section
*/
  .grid {
    grid-template-columns: repeat(4, minMax(12.5rem, 1fr));
  }
  .grid-items {
    height: 23rem;
  }
  .item-1 {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/desktop/image-deep-earth.jpg);
  }
  .item-2 {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/desktop/image-night-arcade.jpg);
  }
  .item-3 {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/desktop/image-soccer-team.jpg);
  }
  .item-4 {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/desktop/image-grid.jpg);
  }
  .item-5 {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/desktop/image-from-above.jpg);
  }
  .item-6 {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/desktop/image-pocket-borealis.jpg);
  }
  .item-7 {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/desktop/image-curiosity.jpg);
  }
  .item-8 {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/desktop/image-fisheye.jpg);
  }
  .our-creations-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .our-creations-title h2 {
    text-align: left;
  }
  .btn-mobile {
    display: none;
  }
  .btn-desktop {
    display: block;
    padding: 0.3rem 1.25rem;
    border: 1px solid black;
    font-family: Alata, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
  }

  /* 
*interactive section
*/
  .interactive {
    position: relative;
  }
  .interactive-info {
    text-align: left;
    background: white;
    width: 36.625rem;
    right: 10%;
    top: 50%;
    z-index: 2;
    padding: 4.2rem;
    position: absolute;
    left: revert;
  }
  .interactive-info > h2 {
    padding: unset;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .interactive-info > p {
    font-size: 0.95rem;
  }

  /* 
  * footer section
  */

  footer {
    background: var(--Black);
  }
  footer .container {
    flex-direction: row;
  }

  .footer-menu {
    flex-direction: row;
  }
  .footer-social {
    justify-content: flex-start;
  }
}
