.our-creations {
  position: relative;
}
.our-creations-title h2 {
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
}

.btn-desktop {
  display: none;
}
.btn-mobile {
  display: block;
  padding: 0.3rem 1.25rem;
  border: 1px solid black;
  font-family: Alata, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  margin-inline: auto;
}
.grid {
  display: grid;
  gap: 1.25rem;
  margin-block: 1rem;
}

.item-1 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-deep-earth.jpg);
}
.item-2 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-night-arcade.jpg);
}
.item-3 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-soccer-team.jpg);
}
.item-4 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-grid.jpg);
}
.item-5 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-from-above.jpg);
}
.item-6 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-pocket-borealis.jpg);
}
.item-7 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-curiosity.jpg);
}
.item-8 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-fisheye.jpg);
}
.grid-items h3 {
  align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.8rem;
}
.grid-items {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--White);
  height: 9.5rem;
}
