.our-creations {
  position: relative;
}
.our-creations-title h2 {
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
}

.our-creations-title {
  text-align: center;
}
.our-creations-title button {
  /* position: absolute;
  bottom: 0; */
  padding: 0.8rem 3rem;
  border: 2px solid black;
  font-family: Alata, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin: 1rem;
  cursor: pointer;
}
.grid {
  display: grid;
  gap: 1.25rem;
}

.item-1 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-deep-earth.jpg);
}
.item-2 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-night-arcade.jpg);
}
.item-3 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-soccer-team.jpg);
}
.item-4 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-grid.jpg);
}
.item-5 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-from-above.jpg);
}
.item-6 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-pocket-borealis.jpg);
}
.item-7 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-curiosity.jpg);
}
.item-8 {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url(../images/mobile/image-fisheye.jpg);
}
.grid-items h3 {
  align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.8rem;
}
.grid-items {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--White);
}
